{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <title>{% block title %}DjangoX{% endblock title %}</title>
    <meta
      name="description"
      content="A framework for launching new Django projects quickly."
    />
    <meta name="author" content="" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    {% block css %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
  </head>

  <body>
    <header>
      <div>
        <nav>
          <ul>
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'library' %}">library</a>
            </li>

            {% if user.is_authenticated %}
            <li>{{ user.email }}</li>
            {% else %}
            <li>
              <a href="{% url 'account_login' %}">Log in</a>
            </li>
            <li>
              <a href="{% url 'account_signup' %}">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <div>
      {% block content %}
      <p>Default content...</p>
      {% endblock content %}
    </div>

    {% block javascript %}

    <!-- Project JS -->
    <script src="{% static 'js/base.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
