{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>
  Bom Manager
</h1>
<p>
  if you have a lot of something it becomes hard to keep track of it.
  So I made this.
  at the end of the day its a spreadsheet, you can add to it and remove from it.
  
</p>
<p>
The Workflow:
<br>
add all your parts to a spread sheet give it a location. I dont care what this is but you need to be able to find it again.
<br>
then upload it here.
<br>
get more parts upload another
<br>
use some parts? Upload another spread sheet with the parts you use and it will tell you if you have them and when you click checkout it will remove them from your database.

  
</p>
{% endblock content %}
